body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  background-image: url('C:\Users\John Rupert Azarias\Documents\React\to-do-list\public\bg-todolist.gif');
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 35px;
}

select {
  padding: 8px;
  font-size: 15px;
  margin-right: 5px;
}

.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.darker-input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #000000;
  color: white;
}

.btn-primary:hover {
  background-color: #0000008c;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
}

.todo-item {
  font-weight: bold;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  margin-left: 5px;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.sort-options {
  margin-bottom: 20px;
}